&.light {
  background: #F4F4F4;

  .logo-img {
    fill: #2E3238;
  }

  .header {
    border-bottom: 1px solid #D1D1D1;

    .burger-left {
      span {
        background: #2E3238;
      }
    }

    .burger-right {
      span {
        background: #2E3238;
      }

      &:after,
      &:before {
        background: #2E3238;
      }
    }
  }

  .burger-menu-right {
    background: #F8F8F8;

    ul {
      border-bottom: 1px solid #D1D1D1;

      li {
        a {
          color: #969696;
        }
      }
    }
  }

  .burger-menu-left {
    .burger-left {
      span {
        background: #969696;
      }
    }

    background: #F4F4F4;

    ul {
      li {
        a {
          color: #969696;
        }
      }
    }
  }

  .amount-block {
    color: #34383F;
    background: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .input-block {
    background: linear-gradient(166.51deg, #FCFCFC 8.64%, #F2F2F2 81%);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.02);

    a {
      svg {
        fill: #969696;
      }
    }

    textarea {
      color: #969696;
      background: #F4F4F4;
      box-shadow: inset 0px -3px 3px rgba(255, 255, 255, 0.3), inset 0px 4px 4px rgba(0, 0, 0, 0.08);
    }
  }

  .theme-switcher {
    span.slider {
      .slider-button {
        left: 0;
        right: auto;
      }
    }

    .slider {
      background: #D1D1D1;

      .slider-button {
        background: #D1D1D1;
        /* Light_theme/dialog */

        border: 0.5px solid #F8F8F8;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 1px rgba(240, 240, 240, 0.05);
      }
    }

    svg {
      &.light {
        fill: #5D6066;
      }

      &.dark {
        fill: #D1D1D1;
      }
    }
  }

  .open-buttons {
    background: #F8F8F8;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    a {
      background: #969696;
      border: none;
      color: #F4F4F4;

      svg {
        fill: #F4F4F4;
      }
    }
  }

  .content-wrap {
    .item {
      background: #F8F8F8;
      color: #2E3238;

      //.name {
      //  color: #2E3238;
      //
      //}
      svg{
        fill: #969696;
      }

      .text-block {
        p:not(.name) {
          color: #969696;
        }
      }

      &.img {
        .img-block {

        }
      }

      &.document {
        color: #2E3238;
      }
    }
  }

  .circular {
    circle {
      stroke: #D1D1D1;
    }
  }

  .loader-path {
    stroke: #969696;
  }

  .loader__icon {
    svg {
      path {
        fill: #969696;
      }
    }
  }

  .create-new-block{
    background: #F4F4F4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.16);
  }
  .share-alert{
    background: #F8F8F8;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    color: #2E3238;
    &-header {
      .attention{
        background: #2E3238;
        svg{
          path{
            fill:#F4F4F4;
          }
        }
      }
    }
  }
  .share-key {
    .custom-checkbox + label{
      color: #2E3238;

    }
    .custom-checkbox:checked + label{
      &::before{
        background-color: #2E3238;
        background-image: url(../img/ok-light.svg);
      }
    }
    .custom-checkbox + label::before {
      background-color: #2E3238;
    }
  }
  .share-link-header{
    color: #2E3238;
    svg{
      path{
        fill: #2E3238;
      }
    }
  }
  .share-link-input{
    input{
      background: #5D6066;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #FFFFFF;
    }
    .gradient{
      background: linear-gradient(270.07deg, #5D6066 8.9%, rgba(93, 96, 102, 0) 99.93%);
    }
  }
  .share-create-new{
    color: #2E3238;
  }
}
