* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #F4F4F4;
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #1C1E22 0%, #262A30 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.light {
    background: #F4F4F4;

    .logo-img {
      fill: #2E3238;
    }

    .header {
      .burger-left {
        span {
          background: #2E3238;
        }
      }

      .burger-right {
        span {
          background: #2E3238;
        }

        &:after,
        &:before {
          background: #2E3238;
        }
      }
    }

    .burger-menu-right {
      background: #F8F8F8;

      ul {
        border-bottom: 1px solid #D1D1D1;

        li {
          a {
            color: #969696;
          }
        }
      }
    }

    .burger-menu-left {
      .burger-left {
        span {
          background: #969696;
        }
      }

      background: #F4F4F4;

      ul {
        li {
          a {
            color: #969696;
          }
        }
      }
    }

    .amount-block {
      color: #34383F;
      border-top: 1px solid #D1D1D1;
      background: #F8F8F8;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }

    .input-block {
      background: linear-gradient(166.51deg, #FCFCFC 8.64%, #F2F2F2 81%);
      box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.02);

      a {
        svg {
          fill: #969696;
        }
      }

      textarea {
        color: #969696;
        background: #F4F4F4;
        box-shadow: inset 0px -3px 3px rgba(255, 255, 255, 0.3), inset 0px 4px 4px rgba(0, 0, 0, 0.08);
      }
    }

    .theme-switcher {
      span.slider {
        .slider-button {
          left: 0;
          right: auto;
        }
      }

      .slider {
        background: #D1D1D1;

        .slider-button {
          background: #D1D1D1;
          /* Light_theme/dialog */

          border: 0.5px solid #F8F8F8;
          box-sizing: border-box;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 1px rgba(240, 240, 240, 0.05);
        }
      }

      svg {
        &.light {
          fill: #5D6066;
        }

        &.dark {
          fill: #D1D1D1;
        }
      }
    }
  }

}

.scroll-hide {
  overflow: auto;

  &::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-resizer {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.clip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 170px;
}

.logo-img {
  fill: #F4F4F4;
  width: 100px;
  height: 29px;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

.burger-menu-left {
  transition: all .5s ease;
  left: -280px;
  z-index: 99;
  position: absolute;
  top: 0;
  width: 280px;
  height: 100vh;
  background: #262A30;
  display: flex;
  flex-direction: column;

  &.active {
    left: 0;

    ~ .burger-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  .burger-left {
    border-bottom: 1px solid #5D6066;
    padding: 20px;
    width: calc(100% - 40px);
    height: 20px;

    span {
      display: block;
      width: 20px;
      height: 3px;
      background: #5D6066;
      border-radius: 9px;

      + span {
        margin-top: 5px;
      }
    }
  }

  ul {
    li {
      padding-left: 30px;
      margin-top: 40px;

      a {
        transition: color .2s ease;
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
        color: #5D6066;
        text-decoration: none;

        &:hover {
          color: #F4F4F4;
        }
      }
    }
  }

  .logo-img {
    margin: auto auto 30px;
  }
}

.burger-menu-right {
  text-align: right;
  position: absolute;
  top: 60px;
  transition: all .5s ease;
  right: -220px;
  z-index: 99;
  background: #262A30;
  width: 220px;

  &.active {
    right: 0;

    ~ .burger-overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  ul {
    border-bottom: 1px solid #5D6066;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.25);
    padding: 40px 20px;

    li {
      + li {
        margin-top: 30px;
      }

      a {
        transition: color .2s ease;
        font-size: 18px;
        line-height: 23px;
        font-weight: 700;
        color: #5D6066;
        text-decoration: none;

        &:hover {
          color: #F4F4F4;
        }
      }
    }
  }
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 20px;

  span.slider {
    position: relative;
    margin: 0 10px;
    display: inline-block;
    width: 40px;
    height: 16px;
    background: #31353A;
    border-radius: 10px;

    .slider-button {
      transition: all 5s ease;
      position: absolute;
      border-radius: 50%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      display: inline-block;
      background: #31353A;
      border: 0.5px solid rgba(199, 199, 199, 0.5);
      box-sizing: border-box;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4), inset 0px -1px 1px rgba(0, 0, 0, 0.1), inset 0px 1px 1px rgba(240, 240, 240, 0.05);
    }
  }

  svg {
    fill: #5D6066;
    transition: all .5s ease;

    &.light {
      width: 30px;
      height: 30px;
    }

    &.dark {
      width: 27px;
      height: 30px;
      fill: #F4F4F4;
    }
  }
}

.burger-overlay {
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  z-index: 88;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 10px 16px;
  position: relative;
  border-bottom: 1px solid #34383F;

  .burger-left {
    width: 20px;
    height: 20px;

    span {
      display: block;
      width: 20px;
      height: 3px;
      background: #F4F4F4;
      border-radius: 9px;

      + span {
        margin-top: 5px;
      }
    }
  }

  .burger-right {
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;

    &.active {
      z-index: 100;

      &:after,
      &:before {
        opacity: 1;
      }
    }

    &:before {
      transition: opacity .2s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      width: 4px;
      height: 4px;
      background: #F4F4F4;
      border-radius: 2px;
    }

    &:after {
      transition: opacity .2s ease;
      opacity: 0;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 4px;
      height: 4px;
      background: #F4F4F4;
      border-radius: 2px;
    }

    span {
      margin: 0 auto;
      display: block;
      width: 4px;
      height: 4px;
      background: #F4F4F4;
      border-radius: 2px;

      + span {
        margin-top: 4px;
      }
    }
  }

  .public {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F4F4F4;
    padding: 0 30px;
    text-decoration: none;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: linear-gradient(0deg, #262A30 0%, #5D6066 100%);
    border-radius: 15px;

    svg {
      margin-right: 13px;
    }
  }
}

.amount-block {
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  background: #262A30;
  opacity: 0.95;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  span {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin: 0 7px;
  }
}

.content-wrap {
  flex: 1;
  overflow-y: scroll;
  height: calc(100% - 200px);

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 18px 10px;
  }

  .item {
    background: #2E3238;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    box-sizing: border-box;
    text-align: right;

    + .item {
      margin-top: 10px;
    }

    &.text {
      text-align: right;
      padding: 8px 25px 8px 10px;
      font-size: 14px;
      line-height: 20px;
    }

    &.img {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding: 14px 6px 0;

      .img-block {
        margin-left: 10px;
        display: flex;

        img {
          border-radius: 10px;
        }

        .name {
          font-style: italic;
          padding-bottom: 20px;
        }

        .indicators {
          margin: 0 5px;
        }
      }
    }

    &.archive {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 10px 15px 10px 10px;

      .text-block {
        margin-right: 18px;

        p {
          font-size: 15px;
          line-height: 19px;

          &:not(.name) {
            color: #5D6066;
            font-style: italic;
          }
        }
      }

      .indicators {
        display: flex;
        margin-left: 14px;
      }
    }

    &.document {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 10px 15px 10px 10px;

      .text-block {
        margin-right: 18px;

        p {
          font-size: 15px;
          line-height: 19px;

          &:not(.name) {
            color: #5D6066;
            font-style: italic;
          }
        }
      }

      .indicators {
        display: flex;
        margin-left: 14px;
      }
    }
  }
}

.share {
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 0 10px;
  }

  &-link {
    width: 100%;
    padding: 28px 0 30px;

    &-header {
      display: flex;
      justify-content: center;

      .title {
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        margin-right: 30px;
      }
    }

    &-input {
      width: 100%;
      margin-top: 18px;
      height: 50px;
      position: relative;

      input {
        width: 100%;
        background: #F4F4F4;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 50px;
        color: #262A30;
        padding: 0 10px;

        &::placeholder {
          font-size: 20px;
          line-height: 50px;
          color: #262A30;
        }
      }

      .gradient {
        background: linear-gradient(270.07deg, #F0F0F0 8.9%, rgba(240, 240, 240, 0) 99.93%);
        border-radius: 15px;
        width: 113px;
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
      }
    }
  }

  &-key {
    text-align: center;

    .custom-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    .custom-checkbox + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-size: 20px;
      line-height: 25px;
    }

    .custom-checkbox:checked + label::before {
      background-color: #F4F4F4;
      border-radius: 4px;
      background-image: url("../img/ok.svg");
    }

    .custom-checkbox + label::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: #F4F4F4;
      border-radius: 4px;
      margin-right: 27px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 14px 14px;
    }

    .text {
      margin: 10px 0 40px;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #5D6066;
    }
  }

  &-alert {
    background: #34383F;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 8px 10px 13px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .text {
        font-size: 20px;
        line-height: 25px;
        margin-left: 16px;
      }
    }

    &-text{
      margin-top: 6px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }

  &-create-new{
    margin-top: 35px;
    height: 130px;
    text-align: center;
    position: relative;

    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 5.17%, rgba(38, 42, 48, 0) 99%);
      transform: matrix(1, 0, 0, -1, 0, 0) ;
      width: 100%;
      height: 30px;
      top: -30px;
      position: absolute;
      content: '';
      left: 0;
    }
    .title{
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      padding: 14px 0 20px;
      span{
        margin: 0 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
      }
    }
  }
}

a.create-new{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  text-transform: uppercase;
  color: #F4F4F4;
  padding: 0 48px;
  background: linear-gradient(0deg, #262A30 0%, #5D6066 100%);
  border-radius: 15px;
  width: max-content;
  margin: 0 auto 24px;
  svg{
    margin-right: 20px;
  }
}

.watch {
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    padding: 0 10px;
  }
  &-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F4F4F4;
    padding: 0 32px;
    background: linear-gradient(0deg, #262A30 0%, #5D6066 100%);
    border-radius: 15px;
    width: max-content;
    margin: 90px auto 80px;
    svg{
      margin-right: 20px;
    }
  }
}

.open-buttons{
  display: flex;
  align-items: center;
  padding: 10px 0;
  background: #1E2125;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  a{
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #5D6066;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    width: calc(50% - 20px);
    margin: 0 10px;
    border: 1px solid #34383F;
    box-sizing: border-box;
    border-radius: 15px;
    background: none;
    svg{
      margin-right: 10px;
    }
  }
}

.input-block {
  padding: 10px;
  background: #262A30;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    width: 24px;
    height: 24px;

    svg {
      fill: #5D6066;
    }
  }

  textarea {
    text-align: right;
    flex-grow: 1;
    height: calc(100% - 20px);
    min-height: 60px;
    background: #2E3238;
    box-shadow: inset 0px -1px 1px rgba(150, 150, 150, 0.08), inset 0px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 7px;
    margin: 0 6px;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    color: #5D6066;
    font-style: italic;
  }
}

.create-new-block {
  background: #1E2125;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

  .text{
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #5D6066;
    width: 340px;
    margin: 10px auto 0;

  }
  a.create-new {
    margin: 9px auto 13px;
  }
}

.loader {
  width: 30px;
  min-width: 30px;
  height: 30px;
  position: relative
}

.loader__icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 1
}

.loader-path {
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #5d6066;
}

.circular circle {
  stroke: #34383f;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124
  }
}